<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>region</key>
	<string>us-east-1</string>
	<key>apiKey</key>
	<string>ab</string>
	<key>identityPoolID</key>
	<string>us-east-1:e473f570-6a48-449e-b712-8c3d314fe038</string>
	<key>userPoolID</key>
	<string>us-east-1_bW9PR3CUP</string>
	<key>clientId</key>
	<string>2s07mamf60ft2brf63csg9h9or</string>
	<key>clientSecret</key>
	<string></string>
	<key>username</key>
	<string>zeeshan7</string>
	<key>password</key>
	<string>Test@123!</string>
	<key>newPassword</key>
	<string>Test@123!</string>
	<key>placeIndex</key>
	<string>location.aws.com.demo.places.HERE.PlaceIndex</string>
</dict>
</plist>
